%table#hardwares.table.table-striped.table-bordered.table-condensed{ "data-source" => hardwares_url(:format => :json) }
  %thead
    %tr
      
      %th(style="width:300px") Make
      %th Model
      %th Serial Number
      
  %tbody